{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/registration.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <img src="{{ asset('images/sky.jpg') }}" alt="sky" class="full-screen-img">

    <div class="registration-container">

        <h1 class="heading">Регистрация</h1>

        {{ form_start(form) }}

        <div class="form-fields">

            <div class="form-group">
                <div class="line-field-group">
                    {{ form_label(form.email) }}
                    <div id="user_email_status" class="alarm"></div>
                </div>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>


            <div class="form-group">
                <div class="line-field-group">
                    {{ form_label(form.password) }}
                    <div id="user_password_status" class="alarm"></div>
                </div>
                {{ form_widget(form.password) }}
                {{ form_errors(form.password) }}
            </div>

            <div class="form-group">
                <div class="line-field-group">
                    {{ form_label(form.passwordRepeat) }}
                    <div id="user_passwordRepeat_status" class="alarm"></div>
                </div>
                {{ form_widget(form.passwordRepeat) }}
                {{ form_errors(form.passwordRepeat) }}
            </div>

            <button type="submit" class="btn" disabled>Зарегистрироваться</button>

        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/registration.js') }}"></script>
{% endblock %}
